* {
  -webkit-user-select: none;
}

body {
  background: #4b4b4b;
  color: #cccccc;
  margin: 0;
  padding: 0;
  font-family: 'Tahoma';
  min-height: 100%;
}

input {
    border: 1px solid #1e1e1e;  
    color: #cccccc;
    font-size: 14px;
    outline: none;
    text-indent: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: none;
}

select {
    border: 1px solid #1e1e1e;  
    color: #cccccc;
    background: none;
    outline: none;
    box-shadow: none;
    text-indent: 5px;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-appearance: none;
}

#editor {
  display: none;
}

#error {
  display: none;
  text-align: center;
  font-size: 12px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20%;
}

.button {
  display: inline-block;
  padding: 1px 3px 1px 3px;
  margin: 1px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.button:hover {
  color: white;
}

.horizontal_bar {
  position: fixed;
  width: 100%;
  height: 20px;
}

.editor_content {
  position: absolute;
  top: 21px;
  bottom: 20px;
  left: 0;
  right: 0;
}

.left_pane {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
}

.right_pane {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
}

.center_pane {
  position: absolute;
  left: 200px;
  right: 200px;
  top: 0;
  bottom: 0;
  border-left: 1px solid #1e1e1e;
  border-right: 1px solid #1e1e1e;
}

#status_bar {
  bottom: 0;
  font-size: 14px;
  padding-left: 3px;
  padding-right: 3px;
  border-top: 1px solid #1e1e1e;
  background: #4b4b4b;
}

#menu_bar {
  top: 0;
  border-bottom: 1px solid #1e1e1e;
}

#tool_box {
  width: 100%;
  height: 50%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 1px solid #1e1e1e;
}

.tool_box_item {
  border-bottom: 1px solid #1e1e1e;
  margin: 5px 10px 5px 10px;
  padding: 5px;
  font-size: 14px;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.tool_box_item.selected {
  font-weight: bold;
  color: white;
  border-bottom: 1px solid white;
}

#properties_box {
  width: 100%;
  height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
}

#properties_box .property {
  position: relative;
  border-bottom: 1px solid #1e1e1e;
  font-size: 14px;
  padding: 5px 10px 5px 5px;
}

#properties_box .property > .property_name {
  display: block;
  margin: 2px;
  overflow: hidden;
}

#properties_box .property > .property_value {
  display: block;
  width: 100%;
  margin: 2px;
  overflow: hidden;
}

#object_list_box {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.object_list_box_item {
  border-bottom: 1px solid #1e1e1e;
  margin: 5px 10px 5px 10px;
  padding: 5px;
  font-size: 14px;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.object_list_box_item.selected {
  font-weight: bold;
  color: white;
  border-bottom: 1px solid white;
}

#script_editor_view {
  display: none;
  background-color: white;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 1px;
}

#map_view {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#map_canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: crosshair;
}

#zoom_toolkit {
  cursor: default;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ececec;
  width: 108px;
  height: 32px;
}

#zoom_factor {
  cursor: default;
  display: inline-block;
  text-align: center;
  min-width: 42px;
}