* {
    -webkit-user-select: none;
}
body {
    background: #4b4b4b;
    color: #cccccc;
    margin: 0;
    padding: 0;
    font-family: 'Tahoma';
    min-height: 100%;
}
input {
    border: 1px solid #1e1e1e;
    color: #cccccc;
    font-size: 14px;
    outline: none;
    text-indent: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: none;
}
select {
    border: 1px solid #1e1e1e;
    color: #cccccc;
    background: none;
    outline: none;
    box-shadow: none;
    text-indent: 5px;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-appearance: none;
}
#editor {
    display: none;
    grid-definition-columns: auto minmax(min-content, 1fr) auto;
    grid-definition-rows: auto minmax(min-content, 1fr) auto;
}
#error {
    display: none;
    text-align: center;
    font-size: 12px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
}
.label {
    color: #cccccc;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Tahoma';
}
.button {
    display: inline-block;
    padding: 1px 3px 1px 3px;
    margin: 1px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.button:hover {
    color: white;
}
.left_pane {
    position: relative;
    grid-row: 2;
    grid-column: 1;
    height: 100%;
    width: 200px;
}
.right_pane {
    position: relative;
    grid-row: 2;
    grid-column: 3;
    height: 100%;
    width: 200px;
}
.center_pane {
    position: relative;
    border-left: 1px solid #1e1e1e;
    border-right: 1px solid #1e1e1e;
    grid-row: 2;
    grid-column: 2;
    height: 100%;
    width: 100%;
}
#menu_bar {
    border-bottom: 1px solid #1e1e1e;
    height: 20px;
    grid-row: 1;
    grid-column: 1 / span 3;
}
#status_bar {
    font-size: 14px;
    padding-left: 3px;
    padding-right: 3px;
    border-top: 1px solid #1e1e1e;
    background: #4b4b4b;
    height: 20px;
    grid-row: 3;
    grid-column: 1 / span 3;
}
