#map_pane {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    grid-definition-columns: 1fr;
    grid-definition-rows: minmax(min-content, 1fr) auto auto;
}
#map_view {
    position: relative;
    height: 100%;
    width: 100%;
    grid-row: 1;
    grid-column: 1
}
#map_tools_pane {
    border-top: 1px solid #1e1e1e;
    min-height: 256px;
    width: 100%;
    grid-row: 2;
    grid-column: 1;
    position: relative;
}
#map_grid_tool_pane {
    background-color: #4b4b4b;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#map_tools_bar {
    border-top: 1px solid #1e1e1e;
    height: 20px;
    grid-row: 3;
    grid-column: 1;
}
#map_canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: crosshair;
}
#zoom_toolkit {
    cursor: default;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ececec;
    width: 108px;
    height: 32px;
}
#zoom_factor {
    cursor: default;
    display: inline-block;
    text-align: center;
    min-width: 42px;
}
